<template>
    <div>
        <h2>Simple Counter App</h2>
        <button @click="incriment">+</button>
        <button @click="decriment">-</button>
        <p>Counter: {{ counter }} </p>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                counter : 0
            }
        },
    
    methods: {
        incriment(){
            this.counter +=1
        },
        decriment () {
            if(this.counter > 0){
                this.counter -=1 ;
            }
        }
    }
}
</script>

<style>
    button {
        margin: 5px;
        font-size: 20px;
    }
</style>